In [1]:
#importing required libraries
import numpy as np 
import pandas as pd

In [2]:
df=pd.read_csv("flights.csv")
df.head()   #printing out 5 rows of our dataset

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01T10:00:00Z
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01T11:00:00Z

In [3]:
df.isnull().sum()  #checking how many null values are in our dataset for future purposes

year                 0
month                0
day                  0
dep_time          8255
sched_dep_time       0
dep_delay         8255
arr_time          8713
sched_arr_time       0
arr_delay         9430
carrier              0
flight               0
tailnum           2512
origin               0
dest                 0
air_time          9430
distance             0
hour                 0
minute               0
time_hour            0
dtype: int64

Q4. Had an delay in arrival of 3 or less hours

In [4]:
df.shape #shape of our dataset

(336776, 19)

In [5]:
a=df.dropna(axis=0,subset=['arr_delay'])  
#dropping null values

In [6]:
a.shape  #shape of our dataset after dropping null values

(327346, 19)

In [7]:
delay = a[a['arr_delay'] <=180]  #180, because our data is in minutes
print(delay)

        year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
0       2013      1    1     517.0             515        2.0     830.0
1       2013      1    1     533.0             529        4.0     850.0
2       2013      1    1     542.0             540        2.0     923.0
3       2013      1    1     544.0             545       -1.0    1004.0
4       2013      1    1     554.0             600       -6.0     812.0
...      ...    ...  ...       ...             ...        ...       ...
336765  2013      9   30    2240.0            2245       -5.0    2334.0
336766  2013      9   30    2240.0            2250      -10.0    2347.0
336767  2013      9   30    2241.0            2246       -5.0    2345.0
336768  2013      9   30    2307.0            2255       12.0    2359.0
336769  2013      9   30    2349.0            2359      -10.0     325.0

        sched_arr_time  arr_delay carrier  flight tailnum origin dest  \
0                  819       11.0      UA    1545  N14228    EWR  IAH
1                  830       20.0      UA    1714  N24211    LGA  IAH
2                  850       33.0      AA    1141  N619AA    JFK  MIA
3                 1022      -18.0      B6     725  N804JB    JFK  BQN
4                  837      -25.0      DL     461  N668DN    LGA  ATL
...                ...        ...     ...     ...     ...    ...  ...
336765            2351      -17.0      B6    1816  N354JB    JFK  SYR
336766               7      -20.0      B6    2002  N281JB    JFK  BUF
336767               1      -16.0      B6     486  N346JB    JFK  ROC
336768            2358        1.0      B6     718  N565JB    JFK  BOS
336769             350      -25.0      B6     745  N516JB    JFK  PSE

        air_time  distance  hour  minute             time_hour
0          227.0      1400     5      15  2013-01-01T10:00:00Z
1          227.0      1416     5      29  2013-01-01T10:00:00Z
2          160.0      1089     5      40  2013-01-01T10:00:00Z
3          183.0      1576     5      45  2013-01-01T10:00:00Z
4          116.0       762     6       0  2013-01-01T11:00:00Z
...          ...       ...   ...     ...                   ...
336765      41.0       209    22      45  2013-10-01T02:00:00Z
336766      52.0       301    22      50  2013-10-01T02:00:00Z
336767      47.0       264    22      46  2013-10-01T02:00:00Z
336768      33.0       187    22      55  2013-10-01T02:00:00Z
336769     196.0      1617    23      59  2013-10-01T03:00:00Z

[323503 rows x 19 columns]

Q5. Flew to Houston (IAH or HOU)

In [8]:
destination=df[(df['dest']=="IAH") | (df['dest']=="HOU")] # | indicates 'or'
print(destination)

        year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
0       2013      1    1     517.0             515        2.0     830.0
1       2013      1    1     533.0             529        4.0     850.0
32      2013      1    1     623.0             627       -4.0     933.0
81      2013      1    1     728.0             732       -4.0    1041.0
89      2013      1    1     739.0             739        0.0    1104.0
...      ...    ...  ...       ...             ...        ...       ...
336524  2013      9   30    1729.0            1720        9.0    2001.0
336527  2013      9   30    1735.0            1715       20.0    2010.0
336618  2013      9   30    1859.0            1859        0.0    2134.0
336694  2013      9   30    2015.0            2015        0.0    2244.0
336737  2013      9   30    2105.0            2106       -1.0    2329.0

        sched_arr_time  arr_delay carrier  flight tailnum origin dest  \
0                  819       11.0      UA    1545  N14228    EWR  IAH
1                  830       20.0      UA    1714  N24211    LGA  IAH
32                 932        1.0      UA     496  N459UA    LGA  IAH
81                1038        3.0      UA     473  N488UA    LGA  IAH
89                1038       26.0      UA    1479  N37408    EWR  IAH
...                ...        ...     ...     ...     ...    ...  ...
336524            2010       -9.0      UA     652  N455UA    EWR  IAH
336527            2005        5.0      WN    2067  N296WN    EWR  HOU
336618            2159      -25.0      UA    1128  N14731    LGA  IAH
336694            2307      -23.0      UA    1545  N17730    EWR  IAH
336737            2354      -25.0      UA     475  N477UA    EWR  IAH

        air_time  distance  hour  minute             time_hour
0          227.0      1400     5      15  2013-01-01T10:00:00Z
1          227.0      1416     5      29  2013-01-01T10:00:00Z
32         229.0      1416     6      27  2013-01-01T11:00:00Z
81         238.0      1416     7      32  2013-01-01T12:00:00Z
89         249.0      1400     7      39  2013-01-01T12:00:00Z
...          ...       ...   ...     ...                   ...
336524     173.0      1400    17      20  2013-09-30T21:00:00Z
336527     188.0      1411    17      15  2013-09-30T21:00:00Z
336618     180.0      1416    18      59  2013-09-30T22:00:00Z
336694     174.0      1400    20      15  2013-10-01T00:00:00Z
336737     175.0      1400    21       6  2013-10-01T01:00:00Z

[9313 rows x 19 columns]

Q6. Were operated by United, American, or Delta

In [9]:
companies=df[(df['carrier']=="UA") | (df['carrier']=="AA")| (df['carrier']=="DL")]  # | indicates 'or' for multiple datasets
print(companies)

        year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
0       2013      1    1     517.0             515        2.0     830.0
1       2013      1    1     533.0             529        4.0     850.0
2       2013      1    1     542.0             540        2.0     923.0
4       2013      1    1     554.0             600       -6.0     812.0
5       2013      1    1     554.0             558       -4.0     740.0
...      ...    ...  ...       ...             ...        ...       ...
336737  2013      9   30    2105.0            2106       -1.0    2329.0
336744  2013      9   30    2121.0            2100       21.0    2349.0
336751  2013      9   30    2140.0            2140        0.0      10.0
336755  2013      9   30    2149.0            2156       -7.0    2245.0
336762  2013      9   30    2233.0            2113       80.0     112.0

        sched_arr_time  arr_delay carrier  flight tailnum origin dest  \
0                  819       11.0      UA    1545  N14228    EWR  IAH
1                  830       20.0      UA    1714  N24211    LGA  IAH
2                  850       33.0      AA    1141  N619AA    JFK  MIA
4                  837      -25.0      DL     461  N668DN    LGA  ATL
5                  728       12.0      UA    1696  N39463    EWR  ORD
...                ...        ...     ...     ...     ...    ...  ...
336737            2354      -25.0      UA     475  N477UA    EWR  IAH
336744              14      -25.0      DL    2363  N193DN    JFK  LAX
336751              40      -30.0      AA     185  N335AA    JFK  LAX
336755            2308      -23.0      UA     523  N813UA    EWR  BOS
336762              30       42.0      UA     471  N578UA    EWR  SFO

        air_time  distance  hour  minute             time_hour
0          227.0      1400     5      15  2013-01-01T10:00:00Z
1          227.0      1416     5      29  2013-01-01T10:00:00Z
2          160.0      1089     5      40  2013-01-01T10:00:00Z
4          116.0       762     6       0  2013-01-01T11:00:00Z
5          150.0       719     5      58  2013-01-01T10:00:00Z
...          ...       ...   ...     ...                   ...
336737     175.0      1400    21       6  2013-10-01T01:00:00Z
336744     296.0      2475    21       0  2013-10-01T01:00:00Z
336751     298.0      2475    21      40  2013-10-01T01:00:00Z
336755      37.0       200    21      56  2013-10-01T01:00:00Z
336762     318.0      2565    21      13  2013-10-01T01:00:00Z

[139504 rows x 19 columns]

Q7. Departed in summer (July, August, and September)

In [10]:
season=df[(df['month']==7) | (df['month']==8)| (df['month']==9)]
print(season)

        year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
250450  2013      7    1       1.0            2029      212.0     236.0
250451  2013      7    1       2.0            2359        3.0     344.0
250452  2013      7    1      29.0            2245      104.0     151.0
250453  2013      7    1      43.0            2130      193.0     322.0
250454  2013      7    1      44.0            2150      174.0     300.0
...      ...    ...  ...       ...             ...        ...       ...
336771  2013      9   30       NaN            1455        NaN       NaN
336772  2013      9   30       NaN            2200        NaN       NaN
336773  2013      9   30       NaN            1210        NaN       NaN
336774  2013      9   30       NaN            1159        NaN       NaN
336775  2013      9   30       NaN             840        NaN       NaN

        sched_arr_time  arr_delay carrier  flight tailnum origin dest  \
250450            2359      157.0      B6     915  N653JB    JFK  SFO
250451             344        0.0      B6    1503  N805JB    JFK  SJU
250452               1      110.0      B6     234  N348JB    JFK  BTV
250453              14      188.0      B6    1371  N794JB    LGA  FLL
250454             100      120.0      AA     185  N324AA    JFK  LAX
...                ...        ...     ...     ...     ...    ...  ...
336771            1634        NaN      9E    3393     NaN    JFK  DCA
336772            2312        NaN      9E    3525     NaN    LGA  SYR
336773            1330        NaN      MQ    3461  N535MQ    LGA  BNA
336774            1344        NaN      MQ    3572  N511MQ    LGA  CLE
336775            1020        NaN      MQ    3531  N839MQ    LGA  RDU

        air_time  distance  hour  minute             time_hour
250450     315.0      2586    20      29  2013-07-02T00:00:00Z
250451     200.0      1598    23      59  2013-07-02T03:00:00Z
250452      66.0       266    22      45  2013-07-02T02:00:00Z
250453     143.0      1076    21      30  2013-07-02T01:00:00Z
250454     297.0      2475    21      50  2013-07-02T01:00:00Z
...          ...       ...   ...     ...                   ...
336771       NaN       213    14      55  2013-09-30T18:00:00Z
336772       NaN       198    22       0  2013-10-01T02:00:00Z
336773       NaN       764    12      10  2013-09-30T16:00:00Z
336774       NaN       419    11      59  2013-09-30T15:00:00Z
336775       NaN       431     8      40  2013-09-30T12:00:00Z

[86326 rows x 19 columns]

 Q8. Arrived more than two hours late, but didn???t leave late

In [11]:
a=df.dropna(axis=0,subset=['arr_delay'])  
a=df.dropna(axis=0,subset=['dep_delay']) #dropping null values in both the columns

In [12]:
arr=a['arr_delay']>=120
dep=a['dep_delay']==0
print(a[arr & dep])

        year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
33011   2013     10    7    1350.0            1350        0.0    1736.0
214512  2013      5   23    1810.0            1810        0.0    2208.0
250689  2013      7    1     905.0             905        0.0    1443.0

        sched_arr_time  arr_delay carrier  flight tailnum origin dest  \
33011             1526      130.0      EV    5181  N611QX    LGA  MSN
214512            2000      128.0      MQ    4626  N525MQ    LGA  CMH
250689            1223      140.0      DL    1057  N337NB    LGA  MIA

        air_time  distance  hour  minute             time_hour
33011      117.0       812    13      50  2013-10-07T17:00:00Z
214512      82.0       479    18      10  2013-05-23T22:00:00Z
250689     183.0      1096     9       5  2013-07-01T13:00:00Z

Q9. Were delayed by at least an hour, but made up over 30 minutes in flight

In [13]:
a=df.dropna(axis=0,subset=['arr_delay'])  
a=df.dropna(axis=0,subset=['dep_delay']) #dropping null values in both the columns

In [14]:
cover = a[(a['dep_delay']>=60) &(a['dep_delay'] - a['arr_delay'] >=30)]
print(cover)

        year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
593     2013      1    1    1716.0            1545       91.0    2140.0
815     2013      1    1    2205.0            1720      285.0      46.0
832     2013      1    1    2326.0            2130      116.0     131.0
2286    2013      1    3    1503.0            1221      162.0    1803.0
2495    2013      1    3    1821.0            1530      171.0    2131.0
...      ...    ...  ...       ...             ...        ...       ...
336572  2013      9   30    1818.0            1715       63.0    2001.0
336579  2013      9   30    1823.0            1545      158.0    1934.0
336674  2013      9   30    1956.0            1825       91.0    2208.0
336704  2013      9   30    2028.0            1910       78.0    2255.0
336762  2013      9   30    2233.0            2113       80.0     112.0

        sched_arr_time  arr_delay carrier  flight tailnum origin dest  \
593               2039       61.0      B6     703  N651JB    JFK  SJU
815               2040      246.0      AA    1999  N5DNAA    EWR  MIA
832                 18       73.0      B6     199  N594JB    JFK  LAS
2286              1555      128.0      UA     551  N835UA    EWR  SFO
2495              1910      141.0      AA      85  N357AA    JFK  SFO
...                ...        ...     ...     ...     ...    ...  ...
336572            1940       21.0      9E    3310  N934XJ    JFK  MCI
336579            1733      121.0      9E    3459  N916XJ    JFK  BNA
336674            2121       47.0      DL    1576  N3772H    JFK  SAN
336704            2215       40.0      AA      21  N338AA    JFK  LAX
336762              30       42.0      UA     471  N578UA    EWR  SFO

        air_time  distance  hour  minute             time_hour
593        183.0      1598    15      45  2013-01-01T20:00:00Z
815        146.0      1085    17      20  2013-01-01T22:00:00Z
832        290.0      2248    21      30  2013-01-02T02:00:00Z
2286       320.0      2565    12      21  2013-01-03T17:00:00Z
2495       328.0      2586    15      30  2013-01-03T20:00:00Z
...          ...       ...   ...     ...                   ...
336572     142.0      1113    17      15  2013-09-30T21:00:00Z
336579      95.0       765    15      45  2013-09-30T19:00:00Z
336674     292.0      2446    18      25  2013-09-30T22:00:00Z
336704     294.0      2475    19      10  2013-09-30T23:00:00Z
336762     318.0      2565    21      13  2013-10-01T01:00:00Z

[2074 rows x 19 columns]

Q10. Departed between midnight and 6am (inclusive)

In [15]:
a=df.dropna(axis=0,subset=['dep_time']) #dropping null values

In [16]:
time=a[(a['dep_time']==2400) | (a['dep_time']<=600)]  #2400 denotes midnight and 600 denotes 6am, acc to the format of our data
print(time)

        year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
0       2013      1    1     517.0             515        2.0     830.0
1       2013      1    1     533.0             529        4.0     850.0
2       2013      1    1     542.0             540        2.0     923.0
3       2013      1    1     544.0             545       -1.0    1004.0
4       2013      1    1     554.0             600       -6.0     812.0
...      ...    ...  ...       ...             ...        ...       ...
335802  2013      9   30     557.0             600       -3.0     852.0
335803  2013      9   30     558.0             600       -2.0     815.0
335804  2013      9   30     558.0             600       -2.0     742.0
335805  2013      9   30     559.0             600       -1.0       NaN
335806  2013      9   30     600.0             600        0.0     844.0

        sched_arr_time  arr_delay carrier  flight tailnum origin dest  \
0                  819       11.0      UA    1545  N14228    EWR  IAH
1                  830       20.0      UA    1714  N24211    LGA  IAH
2                  850       33.0      AA    1141  N619AA    JFK  MIA
3                 1022      -18.0      B6     725  N804JB    JFK  BQN
4                  837      -25.0      DL     461  N668DN    LGA  ATL
...                ...        ...     ...     ...     ...    ...  ...
335802             923      -31.0      UA     303  N510UA    JFK  SFO
335803             829      -14.0      EV    4137  N16981    EWR  ATL
335804             749       -7.0      DL     731  N337NB    LGA  DTW
335805             715        NaN      WN     464  N411WN    EWR  MDW
335806             856      -12.0      B6     601  N588JB    JFK  FLL

        air_time  distance  hour  minute             time_hour
0          227.0      1400     5      15  2013-01-01T10:00:00Z
1          227.0      1416     5      29  2013-01-01T10:00:00Z
2          160.0      1089     5      40  2013-01-01T10:00:00Z
3          183.0      1576     5      45  2013-01-01T10:00:00Z
4          116.0       762     6       0  2013-01-01T11:00:00Z
...          ...       ...   ...     ...                   ...
335802     326.0      2586     6       0  2013-09-30T10:00:00Z
335803     107.0       746     6       0  2013-09-30T10:00:00Z
335804      83.0       502     6       0  2013-09-30T10:00:00Z
335805       NaN       711     6       0  2013-09-30T10:00:00Z
335806     139.0      1069     6       0  2013-09-30T10:00:00Z

[9373 rows x 19 columns]

In [1]:
print("Submitted by- Saanya Lasod")

Submitted by- Saanya Lasod